<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue.js App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="vue-app">
      <h1>Looping with v-for</h1>
      <ul>
        <li v-for="character in characters">{{ character }}</li>
      </ul>
      <ul>
        <li v-for="(ninja, index) in ninjas">{{ index }} . {{ ninja.name }} - {{ ninja.age }}</li>
      </ul>
      <!-- Template does not create new elements like div does -->
      <template v-for="(ninja, index) in ninjas">
        <h3>{{ index }}. {{ ninja.name }}</h3>
        <p>{{ ninja.name }}</p>
      </template>

      <template v-for="ninja in ninjas">
        <div v-for="(val,key) in ninja">
          <p>{{ key }} - {{ val }}</p>
        </div>
      </template>


    </div>

    <script src="app.js"></script>
  </body>
</html>
